[submodule "dblclockfft"]
	path = submodules/dblclockfft
	url = https://github.com/ZipCPU/dblclockfft
[submodule "verilator"]
	path = submodules/verilator
	url = https://github.com/verilator/verilator
